*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline:0;
    font-family: "IBM Plex Sans", sans-serif;
}
body{
    max-width: 1440px;
    margin: auto;
    background: #f0f4f5;
    overflow: hidden;
}
/* Style Navbar Menu  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 0 5%;
}
/* Style Logo Hospital */
nav img{
    width:150px;
}
/* Style Navbar Menu Link */
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    display: flex;
    margin-right: 100px;
    font-weight: 600;
}
nav ul .home-active{
    font-weight: 700;
    color: #20bc7e;
  }
  a{
    text-decoration: none;
    color:black;
  }
/* Contact Form Styling */
main{
    height: 85vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
form{
    width:350px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    padding:20px;
    display: flex;
    flex-direction: column;
    gap:15px;
}
form h1{
    text-align: center;
}
form div{
    display: flex;
    flex-direction: column;
}
form div label{
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 500;

}
form div input{
    border:transparent;
    border-radius: 10px;
    padding:5px 10px;
}
form div textarea{
    resize: none;
    border:transparent;
    padding:5px 10px;
    border-radius: 10px;
}
form button{
    color: white;
    background: #20bc7e;
    cursor: pointer;
    padding: 10px 5px;
    font-weight: 700;
    border:transparent;
    font-size: 20px;
    border-radius: 10px;
}