*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Manrope";
}
body{
    background: #f6f8fa;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./img/mainBackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
/* Navbar Styling */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:25px 0;
}
nav ul{
    display: flex;
    align-items: center;
    gap:30px;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    margin-right: 60px;
    
}
nav img{
    height: 45px;
    width:120px;
}
hr{
    margin:0 100px;
}
/* Styling Every sButton */
button{
    background: #6663e9;
    border:none;
    border-radius: 30px;
    padding:10px 30px;
    color:#fff;
    font-weight: 700;
    font-size: 18px;
}
/* Styling the div inside the header */
header div{
    color:#fff;
    margin-left: 150px;
    margin-top: 85px;
}
header div h1{
    font-size: 70px;
    margin-bottom: 30px;
}
header div p{
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 700;
    width:400px;
}
/* Styling the Multiple logo box */
.my-logo{
    background: #fff;
    margin: 0 35px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    position: relative;
    bottom: 100px;
    box-shadow: 0 0 10px #aaa;
}
.my-logo img{
    width:150px;
    height: 38px;
}
.card-section
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:10px;
    margin-top: 50px;
    position: relative;
}
.card-section h1{
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0.01em;
}
/* Styling Card */
.card{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}
.card-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
    position: relative;
    margin-top: 50px;
}
.card-wrapper div:nth-child(2){
    margin-top: 50px;
}
.card-wrapper div:nth-child(3){
    margin-top: 100px;
}
.card-wrapper div:nth-child(4){
    margin-top: 150px;
}
.card-wrapper div:nth-child(5){
    margin-top: 100px;
}
.card-wrapper div:nth-child(6){
    margin-top: 40px;
}
.card-wrapper div:nth-child(7){
    margin-top: 40px;
}
.card-wrapper div:nth-child(8){
    margin-top: 100px;
}
.card-wrapper div:nth-child(9){
    margin-top: 150px;
}
.card img{
    width: 366px;
    height: 400px;
    border-radius: 20px;
}
/* Styling card box*/
.card-box{
    width:326px;
    height: 121px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 120px rgba(58,86,78,0.2);
    position: absolute;
    bottom:-60px;
    padding:15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-box button{
    font-size: 700;
    font-size: 15px;
    width:114px;
    height: 52px;
}
.card-box div h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
.card-box div p{
    font-weight: 700;
    font-size: 20px;
    color:#6663e8;
    text-shadow: 0px 4px 60px rgba(0,0,0,0.05);
}
/* ############# feature section styling ############  */
.feature-section{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    
}
.feature-section div{
    width:50%;
}
.first-feature div:first-child img:first-child{
    position: absolute;
    left:-80px;
    z-index:-1;
    width:726px;
    height: 456px;
    
}
.feature-section div:first-child img:last-child{
    position: relative;
    width:405px;
    height: 405px;
    border-radius: 50px;
    bottom:55px;
    left:110px;
}
.feature-section h1{
    font-size: 700;
    font-size: 60px;
    letter-spacing: 0.01em;
    margin-bottom: 30px;
}
.feature-section p{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 40px;
    max-width: 80%;
    color:#585c65;
}
.feature-section button{
    font-weight: 700;
}

/* second feature section styling */
.second-feature {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .second-feature div {
    width: 50%;
  }
  
  .second-feature div:last-child{
      position: relative;
  }
  
  .second-feature div:last-child img:first-child {
    position: absolute;
    right: 0;
    width: 726px;
    height: 456px;
    bottom: -220px;
  }
  
  .second-feature div:last-child img:last-child {
    position: absolute;
    width: 405px;
    height: 405px;
    border-radius: 51px;
    right: 135px;
    bottom: -110px;
  }
  
  .second-feature div:first-child {
    padding: 0 50px;
  }
  
  .second-feature div:first-child h1 {
    width: 90%;
  }

  /* newsletter styling */
  .newsletter{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#ffff;
    background: #6663e9;
    gap:30px;
    flex-direction: column;
    text-align: center;
    margin: 100px 70px;
    padding:70px 0px;
    border-radius: 70px;
    box-shadow: 0px 4px 60px rgba(0,0,0,0.05);
  }
  .newsletter h1{
    font-weight: 700;
    font-size: 60px;
  }
  .newsletter p{
    font-weight: 400;
    font-size: 18px;
    width:55%;
  }
  .newsletter form{
    display:flex;
    align-items: center;
    gap:20px;
  }
  .newsletter form div{
    display: flex;
    align-items: center;
    gap:20px;
    background: #5654d1;
    border-radius: 40px;
    width:460px;
    height: 60px;
    padding:0 20px;
  }
  .newsletter form input{
    background: transparent;
    border: none;
    outline: none;
    color:#fff;
    font-size: 20px;

  }
  .newsletter form button{
    background: #fff;
    color:#6663e9;
    height: 61px;
    width:174px;
    border-radius: 40px;
    box-shadow: 0px 4px 60px rgba(0,0,0,0.05);
  }
  /* footer styling */
  footer{
    display: flex;
    align-items: flex-start;
    margin:0px 100px;
    justify-content: space-between;
    margin-bottom: 80px;
  }
  footer div:first-child img{
    width:150px;
  }
  footer div:first-child div img{
    width:45px;
    height: 45px;
    margin-right: 20px;
  }
  footer div p{
    width:323px;
    font-size: 20px;
    font-weight: 400px;
    margin-top: 20px;
  }
  .footer-link{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap:130px;
  }
  .footer-link-content{
    display: flex;
    flex-direction: column;
  }
  .footer-link-content ul li a{
    color:black;
    text-decoration: none;

  }
  .footer-link-content ul li{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 25px;
    list-style:none;
  }
  
  
